@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-family: 'Poppins', sans-serif;
}
:root{
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;    
}

.wrapper{
    width: 100vw;
    height: 100vh;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);

}
.wrapper h1{
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    padding-top: 20px;
    font-size: 2.5rem;
}
.tab-container{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    width: 90%;
    margin-top: 4rem;
}
.tab{
    cursor: pointer;
    /* font-size: 0.875rem; */
    letter-spacing: 1.75px;
    padding: 5px 8px;
}
.tab.current-tab{
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 4px;
    color: rgb(0, 0, 255);
}

.weather-container{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block: 4rem;
}

.grant-location-container{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.grant-location-container-hide{
    display: none;
}
.grant-location-container.active{
    display: flex;
}
.grant-location-container p:nth-child(2){
    font-size: 1.7rem;
}
.grant-location-container p{
    margin-top: 20px;
    letter-spacing: 1px;
}
.btn{
    all:unset;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--colorDark2);
    cursor: pointer;
    padding: 10px 30px;
    margin-top: 2rem;
    transition: all 0.5s;
}
.btn:hover{
    border: 1px solid white;
    color: blue;
    background-color: rgba(219, 226, 239, 0.5);
}

.loading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.loading-container-hide{
    display: none;
}
.loading-container.active{
    display: flex;
}
.loading-container p{
    font-size: 1.2rem;
}

.form-container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 3rem;
    
}
.form-container-hide{
    display: none;
}
.form-container.active{
    display: flex;
}
.form-container input{
    padding: 7px 10px;
    font-size: 18px;
    border-radius: 15px;
    outline: none;
    width: 350px;
    border: 2px solid white;
    background-color: rgba(219, 226, 239, 0.5);
    color: white;
}
.form-container input::placeholder{
    color: white;
    opacity: 0.5;
}
.search-btn{
    all:unset;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 500px;
    background-color: var(--colorDark2);
    cursor: pointer;
    padding: 0px 30px;
    border: 2px solid white;
    transition: all 0.5s;
}

.form-container button img{
    margin-top: 10px;
}

.user-info-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.user-info-container-hide{
    display: none;
}
.user-info-container.active{
    display: block;
}
.name{
    display: flex;
    text-align: center;
    justify-content: center;
}
.name p{
    font-size: 2rem;
    margin-right: 20px;
}
.name img{
    width: 2rem;
    height: 2rem;
    padding-top: 8px;
    margin-top: 8px;
}

.user-info-container>p{
    text-align: center;
    margin-top: 1rem;
    text-transform: capitalize;

}
.user-info-container>img{
    margin-left: 50%;
    transform: translateX(-50%);
}
.temperature{
    display:flex;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 1.75px;
    text-align: center;
    justify-content: center;
}
.temp{
    margin-right: 7px;
}

.parameter-container{
    display: flex;
    margin-top: 2rem;
    gap: 1rem;

}

.parameter{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(219, 226, 239, 0.5);
    color: white;
    padding: 1rem 2rem;
}
.parameter img{
    width: 3rem;
}
.parameter p{
    text-transform: uppercase;
    margin-top: 0.2rem;
}


@media (max-width:600px) {
    .form-container{
        margin-top: 1rem;
    }
    .form-container input{

    }
}